<div class='bg-secondary-500 rounded p-4 w-full flex justify-center items-center'>
	<form action='https://formspree.io/f/myyagprq' method='POST' class='flex justify-center gap-4 items-center flex-col w-full max-w-xs'>
		<div class='flex flex-col w-full'>
			<label for='email'>
					Correo:
			</label>
			<input id='email' type='text' type='email' name='email' placeholder='juanperez@gmail.com' class='px-2'>
		</div>
		<div class='flex flex-col w-full'>
			<label for='message'>
					Mensaje:
			</label>
			<textarea id='message' placeholder='Quiero contratarte' name='message' class='px-2' cols='30' rows='3'></textarea>
		</div>
		<input type='submit' value='Enviar' class='bg-accent-300 p-1 rounded hover:bg-accent-500 hover:scale-105 font-semibold text-black transition-colors max-w-xs w-full'>
	</form>
</div>