---
import Section from './Section.astro';

---

<footer class='bg-secondary-500 px-8 pt-8 pb-16'>
	<Section title='Créditos'>
		<aside class='flex flex-wrap gap-4 justify-between'>
			<div>
				<h3 class='text-xl'>Inspiración:</h3>
				<ul class='ml-4'>
					<li class='list-disc'><a href='https://www.getmanfred.com/' target='_blank'>Manfred</a></li>
					<li class='list-disc'><a href='https://www.blizzard.com/' target='_blank'>Blizzard</a></li>
				</ul>

			</div>
			<div>
				<h3 class='text-xl'>Herramientas:</h3>
				<ul class='ml-4'>
					<li class='list-disc'><a href='https://astro.build/' target='_blank'>Astro</a></li>
					<li class='list-disc'><a href='https://tailwindcss.com/' target='_blank'>TailwindCSS</a></li>
				</ul>
			</div>
			<div>
				<h3 class='text-xl'>Personas:</h3>
				<ul class='ml-4'>
					<li class='list-disc'><a href='https://twitter.com/midudev' target='_blank'>Miguel Angel Duran</a></li>
					<li class='list-disc'><a href='https://twitter.com/danidlcdev' target='_blank'>Dani de la Cruz</a></li>
				</ul>
			</div>
			<div>
				<h3 class='text-xl'>Otros:</h3>
				<ul class='ml-4'>
					<li class='list-disc'><a href='https://colorkit.co/color-palette-generator/ea60d3-ffccf4-103a4f-154d69-1a5f82' target='_blank'>ColorKit (Paleta de colores)</a></li>
					<li class='list-disc'><a href='https://boxicons.com/' target='_blank'>Boxicons</a></li>
					<li class='list-disc'><a href='https://favicon.io/favicon-generator/' target='_blank'>Favicon Generator</a></li>
				</ul>
			</div>
		</aside>
	</Section>
</footer>